transformers
torch
python-dotenv==0.15.0
nltk
# tensorflow  # necessary for tensorboard to work properly
# tensorboard
# nvidia-pyindex  # https://github.com/NVIDIA/tensorflow#install
# nvidia-tensorflow
# nvidia-tensorboard-plugin-dlprof
# nvidia-tensorboard